<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <link href="{{ asset('bundles/app/css/blog.css') }}" rel="stylesheet" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                        {% block navbar %}
                            <a class="blog-nav-item {% if app.request.attributes.get("_route") == "app_app_index" %}active{% endif %}" href="{{ path('app_app_index') }}">Home</a>
                            <a class="blog-nav-item {% if app.request.attributes.get("_route") == "app_viewcategoryall" %}active{% endif %}" href="{{ path('app_viewcategoryall') }}">Categories</a>
                            <a class="blog-nav-item {% if app.request.attributes.get("_route") == "app_about" %}active{% endif %}" href="{{ path('app_about') }}">About</a>
                        {% endblock %}
                    </nav>
                </div>
            </div>

            <div class="container">

                <div class="blog-header">
                     <h1 class="blog-title">{% block blog_title %}The Blog{% endblock %}</h1>
                     <p class="lead blog-description">{% block blog_description %}The official example template of creating a blog with Bootstrap.{% endblock %}</p>
                 </div>

                <div class="row">
                    <div class="col-sm-8 blog-main">

                    {% block content %}
                    {% endblock %}

                    </div>

                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                        <div class="sidebar-module sidebar-module-inset">
                            <h4>About</h4>
                            <p>{% block about %}Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.{% endblock %}</p>
                        </div>

                        <div class="sidebar-module">
                            <h4>Catégories</h4>
                            <ol class="list-unstyled">
                                {% block category %}
                                    {{ render(controller('AppBundle:App:category')) }}
                                {% endblock %}
                            </ol>
                        </div>


                        <div class="sidebar-module">
                            <h4>Elsewhere</h4>
                            <ol class="list-unstyled">
                                <li><a href="#">GitHub</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Facebook</a></li>
                            </ol>
                        </div>

                    </div><!-- /.blog-sidebar -->

                </div><!-- /.row -->

            </div><!-- /.container -->

            <footer class="blog-footer">
                <p>Blog by <a href="https://github.com/jodevweb">@jodevweb</a>.</p>
                <p>
                    <a href="#">Back to top</a>
                </p>
            </footer>

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
