{% extends "::base.html.twig" %}

{% block title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_description %}{{ configuration.configuration_blog.description }}{% endblock %}


{% block content %}
    <h2>About</h2>
    <hr />

    {{ configuration.configuration_blog.about }}
{% endblock %}

{% block about %}{{ configuration.configuration_blog.about|truncate(140) }}{% endblock %}