{% extends "::base.html.twig" %}

{% block title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_description %}{{ configuration.configuration_blog.description }}{% endblock %}


{% block content %}

    {% if post is not empty %}
        {% for posts in post %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{{ path('app_viewpost', {'id': posts.id}) }}">{{ posts.title }}</a></h2>
                <p class="blog-post-meta">
                    {{ posts.createdAt|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
                    in {% for categories in posts.category %}<a href="{{ path('app_viewcategory', {'id': categories.id}) }}">{{ categories.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                    by <strong>{% if configuration.user == posts.userId %}vous{% else %}{{ posts.userId }}{% endif %}</strong>
                </p>
                {{ posts.post|raw|truncate(300) }}
            </div>
        {% endfor %}
    {% else %}
        Aucun post.
    {% endif %}


    {{ knp_pagination_render(post) }}

{% endblock %}

{% block about %}{{ configuration.configuration_blog.about|truncate(140) }}{% endblock %}