{% extends "::base.html.twig" %}

{% block title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_title %}{{ configuration.configuration_blog.name }}{% endblock %}
{% block blog_description %}{{ configuration.configuration_blog.description }}{% endblock %}

{% block content %}

    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">
            {{ post.createdAt|localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }}
            in {% for categories in post.category %}<a href="{{ path('app_viewcategory', {'id': categories.id}) }}">{{ categories.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
            by <strong>{% if configuration.user == post.userId %}vous{% else %}{{ post.userId }}{% endif %}</strong>
        </p>
        {{ post.post|raw }}
    </div>

    <div class="sidebar-module sidebar-module-inset">
        <h4>Comments</h4>
        <hr />

        {% if post.comments is not null %}
            {% for comments in post.comments %}
                <small>
                    <strong>{{ comments.user }}</strong>, {{ comments.createdAt|localizeddate("short", "none", null, null, "cccc d LLLL yyyy") }}
                    <br />
                    {{ comments.comment }}
                </small>
                <hr />
            {% endfor %}
        {% endif %}

        {% if configuration.isAuth == true %}
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
            {% else %}
                Vous devez vous connecter pour commenter. <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        {% endif %}
    </div>

{% endblock %}

{% block about %}{{ configuration.configuration_blog.about|truncate(140) }}{% endblock %}